{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}


{# MAIN #}
<main class="container-fluid pb-lg-5">

    {# EN-TETE PLATS #}
    <div class="row d-flex justify-content-center">

        <div class="col-8 col-lg-2 fs-1 fw-medium mb-lg-3 mt-3 mt-lg-3 text-center">

            <p>PANIER</p>

        </div>

    </div>

    {# PANIER DESKTOP #}
    <div class="row m-lg-5 d-none d-lg-block">

        {% if items | length > 0 %}
            <table class="table">

                <thead class="fs-2 border_thead">
                    <tr>
                        <th>Plat</th>
                        <th>Prix unit.</th>
                        <th>Quantité</th>
                        <th>Sous-total</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody class="fs-4">
                    {% for item in items %}
                        <tr>
                            <td>
                                <img src="/images/plats/{{ item.plat.image }}" class="img-fluid m-3 rounded-4 border_image" style="width: 7rem; height: 7rem;" alt="{{ item.plat.libelle }}" title="{{ item.plat.libelle }}">
                                {{ item.plat.libelle }}
                            </td>

                            <td>
                                <div class="mt-4 ms-4">
                                    {{ item.plat.prix }} &#8364;
                                </div>
                            </td>

                            <td>
                                <div class="d-flex mt-4">
                                    <a href="{{ path('app_panier_add', {'id': item.plat.id}) }}" class="d-flex align-items-center justify-content-center btn_plus text-decoration-none shadow-lg fw-medium lettres_blanches fs-5 rounded-3 me-4" style="width: 2rem; height: 2rem;">
                                        +
                                    </a>
                                    {{ item.quantite }}
                                    <a href="{{ path('app_panier_removeOne', {'id': item.plat.id}) }}" class="d-flex align-items-center justify-content-center btn_moins text-decoration-none shadow-lg fw-medium lettres_blanches fs-5 rounded-3 ms-4" style="width: 2rem; height: 2rem;">
                                        -
                                    </a>
                                </div>
                            </td>

                            <td>
                                <div class="mt-4 fw-medium">
                                    {{ item.plat.prix * item.quantite }}.00 €
                                </div>
                            </td>

                            <td>
                                <div class="mt-4">
                                    <a href="{{ path('app_panier_remove', {'id': item.plat.id}) }}" class="d-flex align-items-center justify-content-center btn_suppr text-decoration-none shadow-lg fw-medium lettres_blanches fs-5 rounded-3" style="width: 2rem; height: 2rem;">
                                        x
                                    </a>
                                </div>
                            </td>

                        </tr>
                    {% endfor %}
                </tbody>

                <tfoot class="border_tfoot">
                    <tr>
                        <td colspan="3" class="fs-2 fw-bold">Total de la commande</td>
                        <td class="fs-4 fw-bold">{{ total }}.00 €</td>
                    </tr>
                </tfoot>

            </table>

        {% else %}
            <p class="fs-2 text-center">Votre panier est vide !</p>
        {% endif %}

    </div>


    {# PANIER MOBILE #}
    <div class="row m-lg-5 d-block d-sm-none">

        {% if items | length > 0 %}
            <table class="table">

                <thead class="fs-3 border_thead">

                    <tr>

                        <th>Plat</th>

                    </tr>

                </thead>

                <tbody class="fs-5 border_panier_mobile">

                    {% for item in items %}
                        <tr>
                            <td class="text-nowrap d-flex justify-content-between">
                                
                                <div class="fw-medium">

                                    <p class="my-auto">{{ item.plat.libelle }}</p>

                                </div>

                                <div class="d-flex justify-content-end">

                                    <a href="{{ path('app_panier_remove', {'id': item.plat.id}) }}" class="d-flex align-items-center justify-content-center btn_suppr text-decoration-none shadow-lg fw-medium lettres_blanches fs-5 rounded-3" style="width: 2rem; height: 2rem;">
                                        x
                                    </a>

                                </div>

                            </td>
                        </tr>

                        <tr>
                            <td class="d-flex">
                            
                                <div class="">

                                    <img src="/images/plats/{{ item.plat.image }}" class="img-fluid  rounded-4 border_image" style="width: 7rem; height: 7rem;" alt="{{ item.plat.libelle }}" title="{{ item.plat.libelle }}">
                                
                                </div>

                                <div class="ms-5">

                                    <div class="d-flex ">

                                        <p class="me-2">Prix: </p>{{ item.plat.prix }} €

                                    </div>

                                    <div class="d-flex mb-2">

                                        <a href="{{ path('app_panier_add', {'id': item.plat.id}) }}" class="d-flex align-items-center justify-content-center btn_plus text-decoration-none shadow-lg fw-medium lettres_blanches fs-5 rounded-3 me-3" style="width: 2rem; height: 2rem;">
                                            +
                                        </a>

                                        {{ item.quantite }}

                                        <a href="{{ path('app_panier_removeOne', {'id': item.plat.id}) }}" class="d-flex align-items-center justify-content-center btn_moins text-decoration-none shadow-lg fw-medium lettres_blanches fs-5 rounded-3 ms-3" style="width: 2rem; height: 2rem;">
                                            -
                                        </a>

                                    </div>

                                    <div class="d-flex fw-medium">

                                        <p class="me-2">Total: </p>{{ item.plat.prix * item.quantite }}.00 €

                                    </div>

                                </div>

                            </td>
                        </tr>
                    {% endfor %}

                </tbody>

                <tfoot class="border_tfoot">
                    <tr>
                        <td class="fs-3 fw-bold d-flex">
                            <p class="me-4">Total commande: </p>{{ total }}.00 €
                        </td>
                    </tr>
                </tfoot>

            </table>

        {% else %}
            <p class="fs-2 text-center">Votre panier est vide !</p>
        {% endif %}

    </div>


    {# BOUTONS #}
    <div class="row">

        <div class="col-sm-12 col-lg-12 d-flex justify-content-center mb-4 mt-5 mt-lg-0">

            <a class="d-flex justify-content-center align-items-center fw-medium  shadow-lg fs-5 bouton_categories"
                id="precedent" style="width: 15rem; height: 3rem;" href="{{ path('app_test') }}" role="button">
                Valider le panier
            </a>

        </div>

        <div class="col-sm-12 col-lg-12 d-flex justify-content-center mb-5">

            <a href="#" onclick="history.back(); return false;"
                class="d-flex justify-content-center align-items-center fw-medium  shadow-lg fs-5 bouton_fermer_panier"
                style="width: 10rem; height: 3rem;">
                Retour
            </a>

        </div>

    </div>

</main>
{% endblock %}
