{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<form method="post">

    {% if error %}
    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
    <div class="fs-3 m-3">
        Vous êtes déjà connecté avec <span class="fw-medium">{{ app.user.userIdentifier }}</span>, <a href="{{ path('app_logout') }}">Se déconnecter.</a>
    </div>
    {% endif %}

    <div class="row">

        <div class="col fs-1 fw-medium mb-3 mb-lg-3 mt-3 mt-lg-3 text-center">
            <p>CONNEXION AU COMPTE</p>
        </div>

    </div>

    <div class="row m-1 m-lg-5 flex-column">

        <div class="col col-lg-6 mx-auto mb-3">
            <label for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control border-3 bordures fond_input" autocomplete="email" required autofocus>
        </div>

        <div class="col col-lg-6 mb-1 mx-auto">
            <label for="inputPassword">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control border-3 bordures fond_input" autocomplete="current-password" required>
        </div>

        <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}">

        {# Lien Reset password #}
        <div class="col col-lg-6 text-end mx-auto mb-3">
            <a href="{{ path('app_forgot_password_request') }}" class="text-reset">Mot de passe oublié</a>
        </div>

        <div class="col d-flex justify-content-center mb-5">
            <button class="d-flex justify-content-center align-items-center shadow-lg rounded-3 bouton_envoyer" style="width: 8rem; height: 2rem;" type="submit">
                Se connecter
            </button>
        </div>

        <div class="col d-flex justify-content-center mb-3">
            <p class="fs-4 fw-medium">Vous n'avez pas de compte? Créez en un ci-dessous.</p>
        </div>

        <div class="col d-flex justify-content-center mb-5">
            <a class="d-flex justify-content-center align-items-center shadow-lg rounded-3 bouton_fermer_panier text-decoration-none"
                style="width: 10rem; height: 2rem;"
                href="{{ path('app_register') }}">
                Créer un compte
            </a>
        </div>

    </div>

</form>
{% endblock %}
