{% extends 'base.html.twig' %}

{% block title %}Créer un compte{% endblock %}

{% block body %}

<main class="container-fluid pb-lg-5">

    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="row d-flex justify-content-center">

        <div class="col-12 col-lg-4 fs-1 fw-medium mb-3 mb-lg-3 mt-3 mt-lg-3 text-center">

            <p>CRÉER UN COMPTE</p>

        </div>

    </div>

    {{ form_start(registrationForm, {'attr': {'class': 'row m-sm-1 m-lg-5 d-flex justify-content-center'}}) }}
    {{ form_errors(registrationForm) }}

        <div class="col-sm-10 col-lg-5 mt-3 mt-lg-0 mb-5 fs-4">
            {{ form_label(registrationForm.nom) }}
            {{ form_widget(registrationForm.nom, {
                'attr': {
                    'class': 'form-control fs-4 border-3 bordures fond_input',
                }
            }) }}
            {{ form_help(registrationForm.nom) }}
            <div class="message_erreur">
                {{ form_errors(registrationForm.nom) }}
            </div>
        </div>

        <div class="col-sm-10 col-lg-5 mt-3 mt-lg-0 mb-5 fs-4">
            {{ form_label(registrationForm.prenom, 'Prénom' ) }}
            {{ form_widget(registrationForm.prenom, {
                'attr': {
                    'class': 'form-control fs-4 border-3 bordures fond_input',
                }
            }) }}
            {{ form_help(registrationForm.prenom) }}
            <div class="message_erreur">
                {{ form_errors(registrationForm.prenom) }}
            </div>
        </div>

        <div class="col-sm-10 col-lg-5 mb-5 fs-4">
            {{ form_label(registrationForm.email) }}
            {{ form_widget(registrationForm.email, {
                'attr': {
                    'class': 'form-control fs-4 border-3 bordures fond_input',
                }
            }) }}
            {{ form_help(registrationForm.email) }}
            <div class="message_erreur">
                {{ form_errors(registrationForm.email) }}
            </div>
        </div>

        <div class="col-sm-10 col-lg-5 mb-5 fs-4">
            {{ form_label(registrationForm.plainPassword, 'Mot de passe' ) }}
            {{ form_widget(registrationForm.plainPassword, {
                'attr': {
                    'class': 'form-control fs-4 border-3 bordures fond_input',
                }
            }) }}
            {{ form_help(registrationForm.plainPassword) }}
            <div class="message_erreur">
                {{ form_errors(registrationForm.plainPassword) }}
            </div>
        </div>

        <div class="col-sm-10 col-lg-5 mb-5 fs-4">
            {{ form_label(registrationForm.telephone, 'Téléphone' ) }}
            {{ form_widget(registrationForm.telephone, {
                'attr': {
                    'class': 'form-control fs-4 border-3 bordures fond_input',
                }
            }) }}
            {{ form_help(registrationForm.telephone) }}
            <div class="message_erreur">
                {{ form_errors(registrationForm.telephone) }}
            </div>
        </div>

        <div class="col-sm-10 col-lg-5 mb-5 fs-4">
            {{ form_label(registrationForm.adresse) }}
            {{ form_widget(registrationForm.adresse, {
                'attr': {
                    'class': 'form-control fs-4 border-3 bordures fond_input',
                }
            }) }}
            {{ form_help(registrationForm.adresse) }}
            <div class="message_erreur">
            {{ form_errors(registrationForm.adresse) }}
            </div>
        </div>

        <div class="col-sm-10 col-lg-5 mb-5 fs-4">
            {{ form_label(registrationForm.cp, 'Code postal' ) }}
            {{ form_widget(registrationForm.cp, {
                'attr': {
                    'class': 'form-control fs-4 border-3 bordures fond_input',
                }
            }) }}
            {{ form_help(registrationForm.cp) }}
            <div class="message_erreur">
            {{ form_errors(registrationForm.cp) }}
            </div>
        </div>

        <div class="col-sm-10 col-lg-5 mb-5 fs-4">
            {{ form_label(registrationForm.ville) }}
            {{ form_widget(registrationForm.ville, {
                'attr': {
                    'class': 'form-control fs-4 border-3 bordures fond_input',
                }
            }) }}
            {{ form_help(registrationForm.ville) }}
            <div class="message_erreur">
            {{ form_errors(registrationForm.ville) }}
            </div>
        </div>

        <div class="col-sm-10 col-lg-10 mb-5 fs-4">
            {{ form_row(registrationForm.agreeTerms, {
                label: "Accepter les conditions d'utilisation",
                'attr': {
                    'class': 'ms-3 mt-3 case_coche'
                }
            }) }}
        </div>

        <div class="col-12 col-lg-12 d-flex justify-content-center mb-5 mb-lg-0">
            <button type="submit" class="d-flex justify-content-center align-items-center fw-medium shadow-lg fs-5 rounded-3 bouton_envoyer"
                    style="width: 15rem; height: 3rem;">
                Créer le compte
            </button>
        </div>

    {{ form_end(registrationForm) }}
</main>
{% endblock %}