{% extends 'base.html.twig' %}

{% block title %}COMMANDE{% endblock %}

{% block body %}
{# <style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style> #}

{# MAIN #}
<main class="container-fluid pb-lg-5">

    {# EN-TETE RESUMÉ COMMANDE #}
    <div class="row d-flex justify-content-center">

        <div class="col-8 col-lg-2 fs-1 fw-medium mb-3 mb-lg-3 mt-3 mt-lg-3 text-center">

            <p class="lettres fond_intitule">COMMANDE</p>

        </div>

    </div>

    <div class="row m-5">

        <table class="table">

                <thead class="fs-2 border_thead">
                    <tr>
                        <th>Plat</th>
                        <th>Quantité</th>
                        <th>Total</th>
                    </tr>
                </thead>

                <tbody class="fs-4">
                    {% set total = 0 %}
                    {% for item in panierWithData %}
                    <tr>
                        <td>
                            <img src="/images/plats/{{ item.plat.image }}" class="me-3 p-1 rounded-4" style="width: 7rem; height: 7rem;" alt="Image du plat">
                            {{ item.plat.libelle }}
                        </td>
                        <td>{{ item.quantite }}</td>
                        <td>{{ item.plat.prix * item.quantite }}.00 &#8364;</td>
                        {% set total = total + (item.plat.prix * item.quantite) %}
                    </tr>
                    {% endfor %}
                </tbody>

                <tfoot class="border_tfoot">
                    <tr>
                        <td colspan="2" class="fs-2 fw-medium">Total de la commande</td>
                        <td class="fs-4 fw-medium">{{ total }}.00 &#8364;</td>
                    </tr>
                </tfoot>
        </table>

    </div>

    <div class="row m-5">

        <div class="col-12">

            <p class="fs-2 fw-bold">Adresses</p>

        </div>

        <div class="col-12 d-flex justify-content-around">
        {% if app.user %}
            <div class="col-5">
                <table class="table border_adresse">
                <thead class="fs-3 border_thead">
                    <tr>
                        <th>Adresse de livraison</th>
                    </tr>
                </thead>

                <tbody class="fs-4">
                    <tr>
                        <td>Adresse : {{ app.user.adresse }}</td>
                    </tr>
                    <tr>
                        <td>Code postal : {{ app.user.cp }}</td>
                    </tr>
                    <tr>
                        <td>Ville : {{ app.user.ville }}</td>
                    </tr>
                </tbody>

                <tfoot class="fs-4 fw-bold text-center">
                    <tr>
                        <td>
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button collapsed fs-3 fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Modifier l'adresse de livraison
                                        </button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body fw-normal fs-4 text-start">
                                            <label for="adresse" class="mb-2">Adresse :</label>
                                            <input type="text" id="adresse" name="adresse" class="bordures fond_input rounded-3 border-3">
                                            <br>
                                            <label for="codepostal" class="mb-2">Code postal :</label>
                                            <input type="text" id="codepostal" name="codepostal" class="bordures fond_input rounded-3 border-3">
                                            <br>
                                            <label for="ville" class="mb-2">Ville :</label>
                                            <input type="text" id="ville" name="ville" class="bordures fond_input rounded-3 border-3">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tfoot>
                </table>
            </div>

            <div class="col-5">
                <table class="table border_adresse">
                <thead class="fs-3 border_thead">
                    <tr>
                        <th>Adresse de facturation</th>
                    </tr>
                </thead>

                <tbody class="fs-4">
                    <tr>
                        <td>Adresse : {{ app.user.adresse }}</td>
                    </tr>
                    <tr>
                        <td>Code postal : {{ app.user.cp }}</td>
                    </tr>
                    <tr>
                        <td>Ville : {{ app.user.ville }}</td>
                    </tr>
                </tbody>

                <tfoot class="fs-4 fw-bold text-center">
                    <tr>
                        <td>
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button collapsed fs-3 fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Modifier l'adresse de facturation
                                        </button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body fw-normal fs-4 text-start">
                                            <label for="adresse" class="mb-2">Adresse :</label>
                                            <input type="text" id="adresse" name="adresse" class="bordures fond_input rounded-3 border-3">
                                            <br>
                                            <label for="codepostal" class="mb-2">Code postal :</label>
                                            <input type="text" id="codepostal" name="codepostal" class="bordures fond_input rounded-3 border-3">
                                            <br>
                                            <label for="ville" class="mb-2">Ville :</label>
                                            <input type="text" id="ville" name="ville" class="bordures fond_input rounded-3 border-3">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tfoot>
                </table>
            </div>
        {% endif %}
        </div>

    </div>

    <div class="row m-5">

        <div class="col-12">

            <p class="fs-2 fw-bold">Moyen de paiement</p>

        </div>

        <div class="col-12 fs-4">

            <form action="/traitement_paiement" method="post">
                <label for="carte">Carte bancaire</label>
                <input type="radio" id="carte" name="moyen_paiement" value="carte">
                <br>
                <label for="paypal">PayPal</label>
                <input type="radio" id="paypal" name="moyen_paiement" value="paypal">
                <br>
                <label for="virement">Virement bancaire</label>
                <input type="radio" id="virement" name="moyen_paiement" value="virement">
                <br>
                <br>
                <label for="numero_carte" class="mb-2">Numéro de carte :</label>
                <input type="text" id="numero_carte" name="numero_carte" class="bordures fond_input rounded-3 border-3">
                <br>
                <label for="nom_titulaire" class="mb-2">Nom du titulaire :</label>
                <input type="text" id="nom_titulaire" name="nom_titulaire" class="bordures fond_input rounded-3 border-3">
                <br>
                <label for="date_expiration" class="mb-2">Date d'expiration :</label>
                <input type="text" id="date_expiration" name="date_expiration" class="bordures fond_input rounded-3 border-3">
                <br>
                <label for="cvv">CVV :</label>
                <input type="text" id="cvv" name="cvv" class="bordures fond_input rounded-3 border-3">
            </form>

        </div>

    </div>

    <div class="row m-5">

        <div class="col-12">

            <p class="fs-2 fw-bold">Conditions générales d'utilisation</p>

        </div>

        <div class="checkbox mb-5 col-sm-10 col-lg-7 fs-4">

            <label for="accept_cgu">
                Accepter les <a href="{{ path('app_cgu') }}">CGU</a>
            </label>
            <input type="checkbox" id="accept_cgu" name="accept_cgu" class="ms-2 case_coche" required>

        </div>

    </div>

    <div class="row d-flex justify-content-center">

        <a class="d-flex justify-content-center align-items-center fw-medium mx-auto shadow-lg fs-5 bouton_categories"
                id="precedent" style="width: 15rem; height: 3rem;"  href="{{ path('app_commande_add') }}" role="button">Finaliser la commande</a>

    </div>

</main>
{% endblock %}
