{% extends 'base.html.twig' %}

{% block title %}Commande{% endblock %}

{% block body %}

{# MAIN #}
<main class="container-fluid pb-lg-5">

    {# EN-TETE RESUMÉ COMMANDE #}
    <div class="row d-flex justify-content-center">

        <div class="col-8 col-lg-2 fs-1 fw-medium mb-3 mb-lg-3 mt-3 mt-lg-3 text-center">

            <p>COMMANDE</p>

        </div>

    </div>

    {# RESUME PANIER DESKTOP #}
    <div class="row m-lg-5 d-none d-lg-block">

        <table class="table">

                <thead class="fs-2 border_thead">
                    <tr>
                        <th>Plat</th>
                        <th class="text-center">Prix unit.</th>
                        <th class="text-center">Quantité</th>
                        <th class="text-center">Sous-total</th>
                    </tr>
                </thead>

                <tbody class="fs-4">
                    {% set total = 0 %}
                    {% for item in panierWithData %}
                    <tr>
                        <td>
                            <img src="/images/plats/{{ item.plat.image }}" class="img-fluid m-3 rounded-4 border_image" style="width: 7rem; height: 7rem;" alt="{{ item.plat.libelle }}" title="{{ item.plat.libelle }}">
                            {{ item.plat.libelle }}
                        </td>
                        <td class="text-center">{{ item.plat.prix }} €</td>
                        <td class="text-center">{{ item.quantite }}</td>
                        <td class="text-center fw-medium">{{ item.plat.prix * item.quantite }}.00 €</td>
                        {% set total = total + (item.plat.prix * item.quantite) %}
                    </tr>
                    {% endfor %}
                </tbody>

                <tfoot class="border_tfoot">
                    <tr>
                        <td colspan="3" class="fs-2 fw-bold">Total de la commande</td>
                        <td class="fs-4 fw-bold text-center">{{ total }}.00 €</td>
                    </tr>
                </tfoot>
        </table>

    </div>

    {# RESUME PANIER MOBILE #}
    <div class="row mb-3 d-block d-sm-none">

            <table class="table">

                <thead class="fs-3 border_thead">

                    <tr>

                        <th>Plat</th>

                    </tr>

                </thead>

                <tbody class="fs-5 border_panier_mobile">

                    {% set total = 0 %}
                    {% for item in panierWithData %}
                        <tr>
                            <td class="text-nowrap d-flex justify-content-between">
                                
                                <div class="fw-medium">

                                    <p class="my-auto">{{ item.plat.libelle }}</p>

                                </div>

                            </td>
                        </tr>

                        <tr>
                            <td class="d-flex">
                            
                                <div class="">

                                    <img src="/images/plats/{{ item.plat.image }}" class="img-fluid rounded-4 border_image" style="width: 7.5rem; height: 7.5rem;" alt="{{ item.plat.libelle }}" title="{{ item.plat.libelle }}">
                                
                                </div>

                                <div class="ms-2">

                                    <div class="d-flex ">

                                        <p class="me-2 fw-medium">Prix : </p> {{ item.plat.prix }} €

                                    </div>

                                    <div class="d-flex">

                                        <p class="me-2 fw-medium">Quantité : </p> {{ item.quantite }}

                                    </div>

                                    <div class="d-flex">

                                        <p class="me-2 fw-medium">Total : </p> {{ item.plat.prix * item.quantite }}.00 €
                                        {% set total = total + (item.plat.prix * item.quantite) %}
                                    </div>

                                </div>

                            </td>
                        </tr>
                    {% endfor %}

                </tbody>

                <tfoot class="border_tfoot">
                    <tr>
                        <td class="fs-3 fw-bold d-flex">
                            <p class="me-4">Total commande: </p>{{ total }}.00 €
                        </td>
                    </tr>
                </tfoot>

            </table>

    </div>


    {# ADRESSES #}
    <div class="row mb- m-lg-5">

        <div class="row">

            <p class="fs-2 fw-bold">Adresses</p>

        </div>

        <div class="row mb-4 mb-lg-0">
            {{ form_start(formAdressesDesktop) }}
            {{ form_errors(formAdressesDesktop) }}

            <div class="col-12 d-lg-flex justify-content-around">
            {% if app.user %}

                {# ADRESSE FACTURATION #}
                <div class="col-12 col-lg-5 border_adresse fond_intitule mb-3 mb-lg-0">
                
                    <div class="fs-3 fw-bold border_thead">
                        <p class="my-auto ms-2 mt-2 mb-2">Adresse de facturation</p>
                    </div>

                    <div class="m-2 m-lg-2 mt-lg-4">
                
                        <div class="fs-4 d-lg-flex">

                            <p class="col-12 col-lg-3 fw-medium mb-0 mb-lg-3">Adresse :</p>
                        
                            <div class="col-12 col-lg-9">
                                {{ form_widget(formAdressesDesktop.adresse_facturation, {
                                'attr': {
                                    'class': 'col-12 fs-4 bordures fond_input rounded-3 border-3',
                                },
                                'value': app.user.adresse
                                }) }}
                                <div class="message_erreur">
                                    {{ form_errors(formAdressesDesktop.adresse_facturation) }}
                                </div>
                            </div>

                        </div>

                        <div class="fs-4 d-lg-flex">

                            <p class="col-12 col-lg-3 fw-medium mb-0 mb-lg-3">CP :</p>
                        
                            <div class="col-12 col-lg-9">
                                {{ form_widget(formAdressesDesktop.cp_facturation, {
                                    'attr': {
                                        'class': 'col-4 col-lg-3 fs-4 bordures fond_input rounded-3 border-3',
                                        },
                                    'value': app.user.cp
                                }) }}
                                <div class="message_erreur">
                                    {{ form_errors(formAdressesDesktop.cp_facturation) }}
                                </div>
                            </div>

                        </div>

                        <div class="fs-4 d-lg-flex">

                            <p class="col-12 col-lg-3 fw-medium mb-0 mb-lg-3">Ville :</p>
                        
                            <div class="col-12 col-lg-9">
                                {{ form_widget(formAdressesDesktop.ville_facturation, {
                                    'attr': {
                                        'class': 'col-12 fs-4 bordures fond_input rounded-3 border-3',
                                        },
                                    'value': app.user.ville
                                }) }}
                                <div class="message_erreur">
                                    {{ form_errors(formAdressesDesktop.ville_facturation) }}
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

                {# ADRESSE LIVRAISON #}
                <div class="col-12 col-lg-5 border_adresse fond_intitule mb-3 mb-lg-0">
                
                    <div class="fs-3 fw-bold border_thead">
                        <p class="my-auto ms-2 mt-2 mb-2">Adresse de livraison</p>
                    </div>

                    <div class="m-2 m-lg-2 mt-lg-4">
                
                        <div class="fs-4 d-lg-flex">

                            <p class="col-12 col-lg-3 fw-medium mb-0 mb-lg-3">Adresse :</p>
                        
                            <div class="col-12 col-lg-9">
                                {{ form_widget(formAdressesDesktop.adresse_livraison, {
                                    'attr': {
                                        'class': 'col-12 fs-4 bordures fond_input rounded-3 border-3',
                                            },
                                    'value': app.user.adresse
                                }) }}
                                <div class="message_erreur">
                                    {{ form_errors(formAdressesDesktop.adresse_livraison) }}
                                </div>
                            </div>

                        </div>

                        <div class="fs-4 d-lg-flex">

                            <p class="col-12 col-lg-3 fw-medium mb-0 mb-lg-3">CP :</p>
                        
                            <div class="col-12 col-lg-9">
                                {{ form_widget(formAdressesDesktop.cp_livraison, {
                                    'attr': {
                                        'class': 'col-4 col-lg-3 fs-4 bordures fond_input rounded-3 border-3',
                                            },
                                    'value': app.user.cp
                                }) }}
                                <div class="message_erreur">
                                    {{ form_errors(formAdressesDesktop.cp_livraison) }}
                                </div>
                            </div>

                        </div>

                        <div class="fs-4 d-lg-flex">

                            <p class="col-12 col-lg-3 fw-medium mb-0 mb-lg-3">Ville :</p>
                        
                            <div class="col-12 col-lg-9">
                                {{ form_widget(formAdressesDesktop.ville_livraison, {
                                    'attr': {
                                        'class': 'col-12 fs-4 bordures fond_input rounded-3 border-3',
                                            },
                                    'value': app.user.ville
                                }) }}
                                <div class="message_erreur">
                                    {{ form_errors(formAdressesDesktop.ville_livraison) }}
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            {% endif %}
            </div>
        
        </div>

    </div>


    {# MOYEN DE PAIEMENT #}
    <div class="row mb-3 m-lg-5">

        {# EN-TETE PAIEMENT #}
        <div class="col-12">

            <p class="fs-2 fw-bold">Moyen de paiement <br class="d-block d-sm-none">(Non fonctionnel)</p>

        </div>

        <div class="col-12 fs-4">

            {# BOUTONS RADIO / NON FONCTIONNEL, PAS DANS BASE DE DONNEES #}
            <div class="form-group ms-lg-3">
                {% for child in formAdressesDesktop.mode_paiement %}
                    <div class="form-check">
                        {{ form_widget(child, { 'attr': {'class': 'form-check-input bordures border-2'} }) }}
                        {{ form_label(child, null, { 'label_attr': {'class': 'form-check-label'} }) }}
                    </div>
                {% endfor %}
            </div>

            {# PARTIE PAIEMENT / ESTHETIQUE #}
            <div class="mt-2 m-lg-3 bg-body-secondary p-1" style="position: relative;">

                <div class="position-absolute" style="top: 50%; left: 50%; transform: translate(-50%, -50%) rotate(-10deg);">
                    <p class="text-danger fw-medium" style="font-size: 3.5rem;">
                        Non fonctionnel
                    </p>
                </div>
            
                <div class="fs-4 d-lg-flex">

                    <p class="col-12 col-lg-3 mb-0 mb-lg-3">Numéro de carte :</p>
                
                    <div class="col-12 col-lg-11">
                        <input type="text" id="numero_carte" name="numero_carte" class="col-9 col-lg-3 bordures fond_input rounded-3 border-3"
                                maxlength="19" placeholder="0000 0000 0000 0000">
                    </div>

                </div>

                <div class="fs-4 d-lg-flex">

                    <p class="col-12 col-lg-3 mb-0 mb-lg-3">Nom du titulaire :</p>
                
                    <div class="col-12 col-lg-9">
                        <input type="text" id="nom_titulaire" name="nom_titulaire" class="col-12 col-lg-5 bordures fond_input rounded-3 border-3"
                                maxlength="50" placeholder="Dupont Pierre">
                    </div>

                </div>

                <div class="fs-4 d-lg-flex">

                    <p class="col-12 col-lg-3 mb-0 mb-lg-3">Date d'expiration :</p>
                
                    <div class="col-12 col-lg-10">
                        <input type="text" id="date_expiration" name="date_expiration" class="col-3 col-lg-1 bordures fond_input rounded-3 border-3"
                                maxlength="5" placeholder="01/25">
                    </div>

                </div>

                <div class="fs-4 d-lg-flex">

                    <p class="col-12 col-lg-3 mb-0 mb-lg-3">CVV :</p>
                
                    <div class="col-12 col-lg-7">
                        <input type="text" id="cvv" name="cvv" class="col-2 col-lg-1 bordures fond_input rounded-3 border-3"
                                maxlength="3" placeholder="000">
                    </div>

                </div>

            </div>

        </div>

    </div>


    {# CGU #}
    <div class="row mb-5 m-lg-5">

        <div class="col-lg-12">

            <p class="fs-2 fw-bold">Conditions générales d'utilisation</p>

        </div>

        <div class="col-sm-10 col-lg-10 ms-3 fs-4">
            {{ form_row(formAdressesDesktop.cgu, {
                'attr': {
                    'class': 'ms-3 case_coche'
                },
                'label': 'Accepter les <a href="' ~ path("app_cgu") ~ '" class="lettres">CGU</a>',
                'label_html': true
            }) }}
        </div>

    </div>


    {# BOUTONS #}
    <div class="row">

        <div class="col-12 mb-4 d-flex justify-content-center">
            {{ form_widget(formAdressesDesktop.creation_commande, {
                'attr': {
                    'class': 'd-flex justify-content-center align-items-center fw-medium shadow-lg fs-5 rounded-3 bouton_envoyer',
                    'type': 'submit',
                    'style': 'width: 15rem; height: 3rem;'
                },
                'label': 'Finaliser la commande'
            }) }}
        </div>
        {{ form_end(formAdressesDesktop) }}
        
        <div class="d-flex justify-content-center mb-5">

            <a href="#" onclick="history.back(); return false;"
                class="d-flex justify-content-center align-items-center fw-medium  shadow-lg fs-5 bouton_fermer_panier"
                style="width: 10rem; height: 3rem;">
                Retour
            </a>

        </div>

    </div>

</main>
{% endblock %}
