{% extends 'base.html.twig' %}

{% block title %}Plats{% endblock %}

{% block body %}
{# <style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style> #}


{# ICI METTRE L'ENTETE, LES CARDS PLATS #}


{# MAIN #}
<main class="container-fluid pb-lg-5">

    {# EN-TETE PLATS #}
    <div class="row d-flex justify-content-center">

        <div class="col-8 col-lg-3 fs-1 fw-medium mb-3 mb-lg-3 mt-3 mt-lg-3 text-center">

            <p class="lettres fond_intitule">TOUS LES PLATS</p>

        </div>

    </div>

    <div class="row d-flex justify-content-around">

        {# <h1>Nombre de catégories trouvées : {{ categories | length }}</h1> #}

        {% for plat in plats %}

            {# {{ categorie.image }}        {{ categorie.libelle |upper }}      {{ categorie.plats | length }} #}

            <div class="col-lg-4 mb-5 mb-lg-5 mt-3 mt-lg-5 d-flex justify-content-around">

                <div class="card w-75 border-4 bordures rounded-5">

                    <img src="/images/plats/{{ plat.image }}" class="img-fluid m-3 rounded-5 border_image" alt="{{ plat.libelle }}" title="{{ plat.libelle }}">

                    {# <h5 class="fs-3 fw-medium ms-3 text-center">{{ plat.libelle }}</h5>

                    <p class="fs-5 fw-medium mb-2 ms-3 me-3">Prix: {{ plat.prix }} &#8364;</p>

                    <p class="fs-5 fw-medium fst-italic ms-3 me-3" style="width: auto; height: 11rem;"> {{ plat.description }} </p> #}

                    <a href="{{ path('app_page_plat', {'id': plat.id}) }}"
                        class="btn_card fs-4 fw-medium text-center shadow-lg p-2 m-3 mt-0 rounded-4 text-decoration-none fond_logo lettres_blanches">

                        {{ plat.libelle }}

                    </a>

                </div>

            </div>

        {% endfor %}

    </div>

    {# RETOUR HAUT DE PAGE #}
    <div class="row">

        <div class="col d-flex justify-content-end me-lg-5 mb-3">

            <a href="#" class="fs-1 text-center lettres_blanches fleche_haut">↑</a>

        </div>

    </div>

</main>


{% endblock %}
