{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
{# <style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style> #}

{% for message in app.flashes('success') %}
    <div class="alert alert-success">{{ message }}</div>
{% endfor %}


{# MAIN #}
<main class="container-fluid pb-lg-5">

{# <a href="{{ path('app_test') }}" class="text-decoration-none">
    <p class="fw-medium">TEST</p>
</a> #}

{# <a href="{{ path('admin') }}" class="text-decoration-none">
    <p class="fw-medium">ADMIN</p>
</a> #}

        {# CAROUSEL BIENVENUE DESKTOP #}
        <div class="container-fluid d-flex align-self-center w-100 d-none d-lg-block">

            <div class="row">

                <div class="fw-medium text-center">

                    <div id="carousel_desktop" class="carousel-fade" data-bs-ride="carousel">

                        <div class="carousel-inner">

                            <div class="carousel-item active d-flex align-items-center justify-content-center" data-bs-interval="4000">

                                <img src="/images/icones/france_flag.webp" style="width: 3rem;" class="mb-3 border border-dark rounded-5">
                                <p class="d-block w-50 bienvenue_desktop">BIENVENUE</p>
                                <img src="/images/icones/france_flag.webp" style="width: 3rem;" class="mb-3 border border-dark rounded-5">

                            </div>

                            <div class="carousel-item d-flex align-items-center justify-content-center" data-bs-interval="4000">

                                <img src="/images/icones/british_flag.webp" style="width: 3rem;" class="mb-3 border border-dark rounded-5">
                                <p class="d-block w-50 bienvenue_desktop">WELCOME</p>
                                <img src="/images/icones/british_flag.webp" style="width: 3rem;" class="mb-3 border border-dark rounded-5">

                            </div>

                            <div class="carousel-item d-flex align-items-center justify-content-center" data-bs-interval="4000">

                                <img src="/images/icones/spain_flag.webp" style="width: 3rem;" class="mb-3 border border-dark rounded-5">
                                <p class="d-block w-50 bienvenue_desktop">BIENVENIDA</p>
                                <img src="/images/icones/spain_flag.webp" style="width: 3rem;" class="mb-3 border border-dark rounded-5">

                            </div>

                            <div class="carousel-item d-flex align-items-center justify-content-center" data-bs-interval="4000">

                                <img src="/images/icones/nl_flag.webp" style="width: 3rem;" class="mb-3 border border-dark rounded-5">
                                <p class="d-block w-50 bienvenue_desktop">WELKOM</p>
                                <img src="/images/icones/nl_flag.webp" style="width: 3rem;" class="mb-3 border border-dark rounded-5">

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

        {# CAROUSEL BIENVENUE MOBILE #}
        <div class="container-fluid d-flex align-self-center justify-content-center w-50 d-block d-lg-none">

            <div class="row">

                <div class="fw-medium text-center">

                    <div id="carousel_desktop" class="carousel-fade" data-bs-ride="carousel">

                        <div class="carousel-inner">

                            <div class="carousel-item active d-flex align-items-center" data-bs-interval="4000">

                                <img src="/images/icones/france_flag.webp" style="width: 2rem;" class="mb-3">
                                <p class="d-block w-100 bienvenue_mobile">BIENVENUE</p>
                                <img src="/images/icones/france_flag.webp" style="width: 2rem;" class="mb-3">

                            </div>

                            <div class="carousel-item d-flex align-items-center" data-bs-interval="4000">

                                <img src="/images/icones/british_flag.webp" style="width: 2rem;" class="mb-3">
                                <p class="d-block w-100 bienvenue_mobile">WELCOME</p>
                                <img src="/images/icones/british_flag.webp" style="width: 2rem;" class="mb-3">

                            </div>

                            <div class="carousel-item d-flex align-items-center" data-bs-interval="4000">

                                <img src="/images/icones/spain_flag.webp" style="width: 2rem;" class="mb-3">
                                <p class="d-block w-100 bienvenue_mobile">BIENVENIDA</p>
                                <img src="/images/icones/spain_flag.webp" style="width: 2rem;" class="mb-3">

                            </div>

                            <div class="carousel-item d-flex align-items-center" data-bs-interval="4000">

                                <img src="/images/icones/nl_flag.webp" style="width: 2rem;" class="mb-3">
                                <p class="d-block w-100 bienvenue_mobile">WELKOM</p>
                                <img src="/images/icones/nl_flag.webp" style="width: 2rem;" class="mb-3">

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div class="row d-block d-lg-none text-center">

                <div class="col-12">

                    <p class="fs-5 fw-medium fst-italic">
                        " Ce site est un projet de formation créé avec le framework Symfony.<br>
                        Utilisez Mailhog pour capter les emails. "
                    </p>

                </div>

        </div>


        {# Cards Navigation Desktop #}
        <div class="col-4 border border-3 border-black rounded-5 mx-auto p-3 m-5 d-none d-lg-block">

            <div class="row d-flex justify-content-center">

                <div class="col-5 d-flex justify-content-center">
                    <div class="card w-100 border-3 border-black rounded-4 zoom z-1 shadow-lg">
                        <div class="card-body d-flex justify-content-center flex-column">
                            <h5 class="card-title text-center">Les catégories de plat</h5>
                            <img src="/images/icones/icone_categories_transp_2.webp" class="img-fluid mx-auto w-50">
                            <a href="{{ path('app_categories') }}" class="shadow-lg fond_logo lettres_blanches fw-medium text-decoration-none text-center rounded-3 mt-2">CATÉGORIES</a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row mt-4 mb-4">

                <div class="col-12 d-flex justify-content-center">

                    <img src="/images/icones/boussole_1.webp" class="" style="width: auto; height: 6rem;">

                </div>

            </div>

            <div class="row d-flex justify-content-around">

                <div class="col-5 d-flex justify-content-center">
                    <div class="card w-100 border-3 border-black rounded-4 zoom z-1 shadow-lg">
                        <div class="card-body d-flex justify-content-center flex-column">
                            <h5 class="card-title text-center">Tous les plats actifs</h5>
                            <img src="/images/icones/icone_plats_transp_2.webp" class="img-fluid mx-auto w-50 m-2">
                            <a href="{{ path('app_plats') }}" class="shadow-lg fond_logo lettres_blanches fw-medium text-decoration-none text-center rounded-3 mt-2">PLATS</a>
                        </div>
                    </div>
                </div>

                <div class="col-5 d-flex justify-content-center">
                    <div class="card w-100 border-3 border-black rounded-4 zoom z-1 shadow-lg">
                        <div class="card-body d-flex justify-content-center flex-column">
                            <h5 class="card-title text-center">Adressez nous vos demandes</h5>
                            <img src="/images/icones/icone_contact_transp_2.webp" class="img-fluid mx-auto w-50">
                            <a href="{{ path('app_contact') }}" class="shadow-lg fond_logo lettres_blanches fw-medium text-decoration-none text-center rounded-3 mt-2">CONTACT</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>


        {# Cards Navigation Mobile #}
            <div class="row d-flex d-md-flex justify-content-center mt-5 d-md-block d-lg-none">

                <div class="col-6 col-md-5 d-flex justify-content-center mb-3">
                    <div class="card w-100 border-3 border-black rounded-4 shadow-lg">
                        <div class="card-body d-flex justify-content-center flex-column p-2">
                            <h5 class="card-title text-center">Les catégories</h5>
                            <img src="/images/icones/icone_categories_transp_2.webp" class="img-fluid mx-auto w-50">
                            <a href="{{ path('app_categories') }}" class="shadow-lg fond_logo lettres_blanches fw-medium text-decoration-none text-center rounded-3 mt-2">CATÉGORIES</a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row d-flex d-md-flex justify-content-around d-md-block d-lg-none">

                <div class="col-6 col-md-5 d-flex justify-content-center">
                    <div class="card w-100 border-3 border-black rounded-4 shadow-lg">
                        <div class="card-body d-flex justify-content-center flex-column p-2">
                            <h5 class="card-title text-center">Les plats actifs</h5>
                            <img src="/images/icones/icone_plats_transp_2.webp" class="img-fluid mx-auto w-50 m-2">
                            <a href="{{ path('app_plats') }}" class="shadow-lg fond_logo lettres_blanches fw-medium text-decoration-none text-center rounded-3 mt-2">PLATS</a>
                        </div>
                    </div>
                </div>

                <div class="col-6 col-md-5 d-flex justify-content-center">
                    <div class="card w-100 border-3 border-black rounded-4 shadow-lg">
                        <div class="card-body d-flex justify-content-center flex-column p-2">
                            <h5 class="card-title text-center">Vos demandes</h5>
                            <img src="/images/icones/icone_contact_transp_2.webp" class="img-fluid mx-auto w-50 m-1">
                            <a href="{{ path('app_contact') }}" class="shadow-lg fond_logo lettres_blanches fw-medium text-decoration-none text-center rounded-3 mt-2">CONTACT</a>
                        </div>
                    </div>
                </div>

            </div>


        {# TOP 3 CATEGORIES #}
        <div class="row mb-3 mb-lg-5 mt-5 mt-lg-5 d-flex justify-content-center">

            <div class="col-lg-10 d-flex justify-content-center">

                <p class="fs-3 d-flex justify-content-center align-items-center fw-medium panneaux">Top 3 des Catégories</p>

            </div>

        </div>

        <div class="row mb-lg-5 mt-3 mt-lg-5 d-flex justify-content-center">

                    {# {{ categorie.image }}        {{ categorie.libelle |upper }}      {{ categorie.plats | length }} #}

                    {% for categorie in categories %}
                    <div class="col-lg-3 mb-5 mb-lg-5 d-flex justify-content-center">

                        <div class="card w-75 border-4 bordures rounded-5">

                            <h5 class="card-text fs-3 mt-3 mb-0 fw-medium text-center">{{ categorie.libelle |upper }}</h5>

                            <img src="/images/categories/{{ categorie.image }}" class="m-3 img-fluid rounded-5 border_image" alt="{{ categorie.libelle }}" title="{{ categorie.libelle }}">

                            <a href="{{ path('app_plats_par_cat', {'id': categorie.id}) }}"
                                class="fs-5 fw-medium d-flex justify-content-center align-items-center shadow-lg p-2 m-3 mt-0 rounded-4 text-decoration-none fond_logo lettres_blanches bouton_mini">

                                Voir

                            </a>

                        </div>

                    </div>
                {% endfor %}

        </div>


        {# TOP 3 PLATS #}
        <div class="row mt-lg-5 mb-lg-5 d-flex justify-content-center">

            <div class="col-lg-10 d-flex justify-content-center">

                <p class="fs-3 d-flex justify-content-center align-items-center fw-medium panneaux">Top 3 des Plats</p>

            </div>

        </div>

        <div class="row mt-3 mt-lg-5 mb-3 mb-lg-3 d-flex justify-content-center">

            {% for plat in plats %}
            <div class="col-lg-3 mb-5 mb-lg-5 d-flex justify-content-center">

                <div class="card w-75 border-4 bordures rounded-5">

                    <h5 class="card-text fs-3 mt-3 mb-0 fw-medium text-center">{{ plat.libelle }}</h5>

                    <img src="/images/plats/{{ plat.image }}" class="m-3 img-fluid  rounded-5 border_image" alt="{{ plat.libelle }}" title="{{ plat.libelle }}">

                    <a href="{{ path('app_panier_add', {'id': plat.id}) }}" class="position-absolute d-flex justify-content-end">

                        <img src="/images/icones/icone_panier_plus_district.webp" class="mt-5 me-1 w-25 panier_plus">

                    </a>

                    <a href="{{ path('app_page_plat', {'id': plat.id}) }}"
                        class="fs-5 fw-medium d-flex justify-content-center align-items-center shadow-lg p-2 m-3 mt-0 rounded-4 text-decoration-none fond_logo lettres_blanches bouton_mini">

                        Voir

                    </a>

                </div>

            </div>
            {% endfor %}

        </div>


</main>


{% endblock %}
