{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

{% for message in app.flashes('success') %}
    <div class="alert alert-success">{{ message }}</div>
{% endfor %}


{# MAIN #}
<main class="container-fluid">

        {# CAROUSEL BIENVENUE DESKTOP #}
        <div class="container-fluid d-lg-flex align-self-center justify-content-center d-none d-lg-block">

            <div class="row">
                
                <div class="mt-4">
    
                    <p class="body_neon span_neon">BIENVENUE</p>

                </div>

            </div>

        </div>

        {# CAROUSEL BIENVENUE MOBILE #}
        <div class="container-fluid  d-block d-md-none">

            <div class="row">

                <div class="mt-4 mb-4 d-flex justify-content-center">
    
                    <p class="body_neon span_neon p-4 rounded-4" style="height: 1rem; font-size: 2rem;">BIENVENUE</p>

                </div>

            </div>

        </div>

        <div class="row d-block d-lg-none text-center">

                <div class="col-12">

                    <p class="fs-5 fw-medium fst-italic">
                        "Ce site est un projet de formation créé avec le framework Symfony"
                    </p>

                </div>

        </div>


        {# Cards Navigation Desktop #}
        <div class="col-5 border border-3 border-black rounded-5 mx-auto p-3 m-5 d-none d-lg-block">

            <div class="row d-flex justify-content-center">

                <div class="col-5 d-flex justify-content-center">
                    <div class="card w-100 border-3 border-black rounded-4 zoom z-1 shadow-lg">
                        <div class="card-body d-flex justify-content-center flex-column">
                            <h5 class="card-title text-center">Les catégories de plat</h5>
                            <img src="/images/icones/icone_categories_transp_2.webp" class="img-fluid mx-auto w-50">
                            <a href="{{ path('app_categories') }}" class="shadow-lg fond_logo lettres_blanches fw-medium text-decoration-none text-center rounded-3 mt-2">CATÉGORIES</a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row mt-4 mb-4">

                <div class="col-12 d-flex justify-content-center">

                    <img src="/images/icones/boussole_1.webp" class="" style="width: auto; height: 6rem;">

                </div>

            </div>

            <div class="row d-flex justify-content-around">

                <div class="col-5 d-flex justify-content-center">
                    <div class="card w-100 border-3 border-black rounded-4 zoom z-1 shadow-lg">
                        <div class="card-body d-flex justify-content-center flex-column">
                            <h5 class="card-title text-center">Retrouvez tous les plats actifs</h5>
                            <img src="/images/icones/icone_plats_transp_2.webp" class="img-fluid mx-auto w-50 m-2">
                            <a href="{{ path('app_plats') }}" class="shadow-lg fond_logo lettres_blanches fw-medium text-decoration-none text-center rounded-3 mt-2">PLATS</a>
                        </div>
                    </div>
                </div>

                <div class="col-5 d-flex justify-content-center">
                    <div class="card w-100 border-3 border-black rounded-4 zoom z-1 shadow-lg">
                        <div class="card-body d-flex justify-content-center flex-column">
                            <h5 class="card-title text-center">Adressez nous vos demandes</h5>
                            <img src="/images/icones/icone_contact_transp_2.webp" class="img-fluid mx-auto w-50">
                            <a href="{{ path('app_contact') }}" class="shadow-lg fond_logo lettres_blanches fw-medium text-decoration-none text-center rounded-3 mt-2">CONTACT</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>


        {# Cards Navigation Mobile #}
        <div class="row d-flex d-md-flex justify-content-center mt-5 d-md-block d-lg-none">

            <div class="col-6 col-md-5 d-flex justify-content-center mb-3">
                <div class="card w-100 border-3 border-black rounded-4 shadow-lg">
                    <div class="card-body d-flex justify-content-center flex-column p-2">
                        <h5 class="card-title text-center">Les catégories</h5>
                        <img src="/images/icones/icone_categories_transp_2.webp" class="img-fluid mx-auto w-50">
                        <a href="{{ path('app_categories') }}" class="shadow-lg fond_logo lettres_blanches fw-medium text-decoration-none text-center rounded-3 mt-2">CATÉGORIES</a>
                    </div>
                </div>
            </div>

        </div>

        <div class="row d-flex d-md-flex justify-content-around d-md-block d-lg-none">

            <div class="col-6 col-md-5 d-flex justify-content-center">
                <div class="card w-100 border-3 border-black rounded-4 shadow-lg">
                    <div class="card-body d-flex justify-content-center flex-column p-2">
                        <h5 class="card-title text-center">Les plats</h5>
                        <img src="/images/icones/icone_plats_transp_2.webp" class="img-fluid mx-auto w-50 m-2">
                        <a href="{{ path('app_plats') }}" class="shadow-lg fond_logo lettres_blanches fw-medium text-decoration-none text-center rounded-3 mt-2">PLATS</a>
                    </div>
                </div>
            </div>

            <div class="col-6 col-md-5 d-flex justify-content-center">
                <div class="card w-100 border-3 border-black rounded-4 shadow-lg">
                    <div class="card-body d-flex justify-content-center flex-column p-2">
                        <h5 class="card-title text-center">Vos demandes</h5>
                        <img src="/images/icones/icone_contact_transp_2.webp" class="img-fluid mx-auto w-50 m-1">
                        <a href="{{ path('app_contact') }}" class="shadow-lg fond_logo lettres_blanches fw-medium text-decoration-none text-center rounded-3 mt-2">CONTACT</a>
                    </div>
                </div>
            </div>

        </div>


        {# INTITULE TOP 3 CATEGORIES #}
        <div class="row mb-3 mb-lg-5 mt-5 mt-lg-5 d-flex justify-content-center">

            <div class="col col-lg-10 d-flex justify-content-center">

                <p class="fs-3 d-flex justify-content-center align-items-center fw-medium panneaux">Top 3 des Catégories</p>

            </div>

        </div>

        {# CARD TOP 3 CATEGORIES #}
        <div class="row mb-lg-5 mt-3 mt-lg-5 d-flex justify-content-center">

            {% for categorie in top3Categories %}
            <div class="col-12 col-md-7 col-lg-3 mb-5 mb-lg-5 d-flex justify-content-around">

                <div class="card border-4 bordures rounded-5">
    
                    {# IMAGE DE CATEGORIE #}
                    <img src="/images/categories/{{ categorie.categorie.image }}" class="img-fluid m-3 rounded-4 border_image" alt="{{ categorie.categorie.libelle }}" title="{{ categorie.categorie.libelle }}">
    
                    {# BOUTON LIBELLE CATEGORIE #}
                    <a href="{{ path('app_plats_par_cat', {'id': categorie.categorie.id}) }}"
                        class="card-text fs-5 fw-medium text-center shadow-lg p-2 m-3 mt-0 rounded-4 text-decoration-none fond_logo lettres_blanches">
                        {{ categorie.categorie.libelle |upper }}
                    </a>
    
                </div>
    
            </div>
            {% endfor %}

        </div>


        {# INTITULE TOP 3 PLATS #}
        <div class="row mt-lg-5 mb-lg-5 d-flex justify-content-center">

            <div class="col col-lg-10 d-flex justify-content-center">

                <p class="fs-3 d-flex justify-content-center align-items-center fw-medium panneaux">Top 3 des Plats</p>

            </div>

        </div>

        {# CARD TOP 3 PLATS #}
        <div class="row mt-3 mt-lg-5 mb-3 mb-lg-3 d-flex justify-content-center">

            {% for plat in top3Plats %}
            <div class="col-12 col-md-7 col-lg-3 mb-5 mb-lg-5 d-flex justify-content-around">

                <div class="card border-4 bordures rounded-5">

                    {# IMAGE DU PLAT #}
                    <img src="/images/plats/{{ plat.plat.image }}" class="img-fluid m-3 rounded-4 border_image" alt="{{ plat.plat.libelle }}" title="{{ plat.plat.libelle }}">

                    {# BOUTON AJOUTER AU PANIER ABSOLUTE #}
                    <a href="{{ path('app_panier_add', {'id': plat.plat.id}) }}" class="position-absolute d-flex justify-content-end">

                        <img src="/images/icones/icone_panier_plus_district.webp" class="mt-1 me-1 mt-lg-0 me-lg-0 p-lg-2 w-25 panier_plus">

                    </a>

                    {# BOUTON LIBELLE PLAT #}
                    <a href="{{ path('app_page_plat', {'id': plat.plat.id}) }}"
                        class="btn_card fs-5 fw-medium text-center shadow-lg p-2 m-3 mt-0 rounded-4 text-decoration-none fond_logo lettres_blanches">

                        {{ plat.plat.libelle }}

                    </a>

                </div>

                </div>
            {% endfor %}

        </div>


</main>


{% endblock %}
