{% extends 'base.html.twig' %}

{% block title %}Search{% endblock %}

{% block body %}
    <form action="{{ path('search') }}" method="get">
        <input type="text" id="search" name="search" value="{{ search_query }}" />
        {% if search_query %}
            <ul id="search-suggestions">
                {% for plat in filtered_plats %}
                    <li>
                        <a href="{{ path('app_plats_par_cat', {'id': plat.categorie.id}) }}">
                            <img src="/images/plats/{{ plat.image }}" class="me-3 p-1 rounded-4" style="width: 4rem; height: 4rem;" alt="{{ plat.libelle }}" title="{{ plat.libelle }}">
                            {{ plat.libelle }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </form>
{% endblock %}