<!-- order_confirmation.html.twig -->
<style>
        .display_flex{
            display: flex;
        }
        .bold{
            font-weight: bold;
        }
        .medium{
            font-weight: bolder;
        }
        .justif_center{
            display: flex;
            justify-items: center;
        }
        .align_center{
            display: flex;
            align-self: center;
            margin-left: 1rem;
        }
        .border_table{
            border: 0.1rem solid #980848;
            border-radius: 0.5rem 0.5rem;
            padding: 0.5rem;
        }
        .marge_thead{
            margin-bottom: 2rem;
        }
        .logo_mail{
            width: 4rem; height: 4rem;
            border-radius: 0.5rem 0.5rem;
        }
        .plat_mail{
            width: 4rem; height: 4rem;
            border-radius: 0.5rem 0.5rem;
            border: 0.1rem solid lightgrey;
        }
        .marge{
            margin-left: 1rem;
        }
        .marge_2{
            margin-left: 2rem;
        }
        .marge_total{
            margin-left: 1.5rem;
        }
</style>


<header class='display_flex'>

    <img src="cid:logo" alt="Logo The District" class="logo_mail">
    <h1 class="align_center">Récapitulatif de votre commande</h1>

</header>

<main>

<p>Chèr(e) {{ app.user.prenom }},</p>

{% if last_commande %}

<h3>Commande n° {{ last_commande.id }} du {{ last_commande.dateCommande | date('d/m/Y') }}</h3>

<table class="border_table" style="width: 30rem; height: auto;">

    <thead class="marge_thead">
    <tr>
        <th>Produit</th>
        <th>Prix unit.</th>
        <th>Qté</th>
        <th>Sous-total</th>
    </tr>
    </thead>

    <tbody class="border_tbody">
    {% for detail in details %}

    <tr>
        <td class="display_flex">
            <img src="cid:plat_{{ detail.plat.id }}" alt="Image du plat" class="plat_mail">
            <span class="align_center">{{ detail.plat.libelle }}</span>
        </td>
        <td>
            <span class="marge">{{ detail.plat.prix }} €</span>
        </td>
        <td>
            <span class="marge">{{ detail.quantite }}</span>
        </td>
        <td>
            <span class="medium marge_total">{{ (detail.plat.prix * detail.quantite)|number_format(2, '.', ',') }} €</span>
        </td>

    </tr>

    {% endfor %}
    </tbody>

    <tfoot>
    <tr>
        <td colspan="3" class="bold">Total de la commande:</td>
        <td>
            <span class="bold marge_total">{{ last_commande.total }} €</span>
        </td>
    </tr>
    </tfoot>

</table>

<br>
<p>Toute l'équipe vous remercie,</p>
<p>A bientôt chez The District.</p>

{% endif %}

</main>