<!-- order_confirmation.html.twig -->
<style>
        .display_flex{
            display: flex;
        }
        .bold{
            font-weight: bold;
        }
        .justif_center{
            display: flex;
            justify-items: center;
        }
        .align_center{
            display: flex;
            align-self: center;
            margin-left: 1rem;
        }
        .border_table{
            border: 0.1rem solid #980848;
            border-radius: 0.5rem 0.5rem;
            padding: 0.5rem;
        }
        .marge_thead{
            margin-bottom: 2rem;
        }
        .logo_mail{
            width: 4rem; height: 4rem;
            border-radius: 0.5rem 0.5rem;
        }
        .plat_mail{
            width: 4rem; height: 4rem;
            border-radius: 0.5rem 0.5rem;
            border: 0.1rem solid lightgrey;
        }
        .marge{
            margin-left: 2rem;
        }
        .marge_2{
            margin-left: 1.5rem;
        }
        .marge_total{
            margin-left: 1.5rem;
        }
</style>


<header class='display_flex'>

    <img src="cid:logo" alt="Logo The District" class="logo_mail">
    <h1 class="align_center">Récapitulatif de votre commande</h1>

</header>

<main>

<p>Chèr(e) {{ app.user.prenom }},</p>

<p>Votre commande est en cours de préparation.</p>

<h3>Récapitulatif:</h3>

<table class="border_table" style="width: 30rem; height: auto;">

    <thead class="marge_thead">
    <tr>
        <th>Produit</th>
        <th>Quantité</th>
        <th>Sous-total</th>
    </tr>
    </thead>

    <tbody class="border_tbody">
    {% set total = 0 %}
    {% for item in panierWithData %}
    <tr>
        <td class="display_flex">
            <img src="cid:plat" alt="Image du plat" class="plat_mail">
            <span class="align_center">{{ item.plat.libelle }}</span>
        </td>
        <td>
            <span class="marge">{{ item.quantite }}</span>
        </td>
        <td>
            <span class="marge_2">{{ item.plat.prix * item.quantite }}.00 €</span>
        </td>
        {% set total = total + (item.plat.prix * item.quantite) %}
    </tr>
    {% endfor %}
    </tbody>

    <tfoot>
    <tr>
        <td colspan="2" class="bold">Total de la commande:</td>
        <td>
            <span class="bold marge_total">{{ total }}.00 &#8364;</span>
        </td>
    </tr>
    </tfoot>

</table>

<br>
<p>Toute l'équipe vous remercie,</p>
<p>A bientôt chez The District.</p>

</main>