{% extends 'base.html.twig' %}

{% block title %}Confirmation de commande{% endblock %}

{% block body %}
{# <style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style> #}
<main>

    <div class="row text-center">

        <div class="col fs-3 m-5">

            <p>Commande créée avec succès ! Un email récapitulant votre commande vous a été envoyé à 

                <span class="fw-medium">{{ app.user.email }}</span>.
                
            </p>

        </div>

    </div>

    <h1>Dernière commande</h1>
    <ul>
    {% for commande in commandes %}
        <li class="fs-4">
            <a href="#">Commande n° {{ commande.id }} du {{ commande.dateCommande|date('Y-m-d') }}</a>
            {# Total: {{ commande.total }}€. Etat: {{ commande.etat }}. #}
        </li>
    {% endfor %}
    </ul>

    <div class="row mb-5">

        <a class="d-flex justify-content-center align-items-center fw-medium mx-auto shadow-lg fs-5 bouton_categories"
                id="precedent" style="width: 15rem; height: 3rem;"  href="{{ path('app_accueil') }}" role="button">Retour à l'accueil</a>

    </div>

</main>
{% endblock %}
