{% extends 'base.html.twig' %}

{% block title %}Plats par catégorie{% endblock %}

{% block body %}


{# MAIN #}
<main class="container-fluid pb-lg-5">

    {# EN-TETE PLATS #}
    <div class="row d-flex justify-content-center">

        <div class="col-8 col-lg-3 fs-1 fw-medium mb-3 mb-lg-3 mt-3 mt-lg-3 text-center">

            <p class="text-uppercase"> {{ categorie.libelle }} </p>

        </div>

    </div>

    {# CARD PLAT #}
    <div class="row d-flex justify-content-around">

        {% for plat in plats %}
            <div class="col-12 col-md-7 col-lg-4 p-lg-5 mt-3 mb-5 mt-lg-0 mb-lg-0 d-flex justify-content-around">

                <div class="card border-4 bordures rounded-5">

                    {# IMAGE DU PLAT #}
                    <img src="/images/plats/{{ plat.image }}" class="img-fluid m-3 rounded-4 border_image" alt="{{ plat.libelle }}" title="{{ plat.libelle }}">

                    {# BOUTON AJOUTER PANIER ABSOLUTE #}
                    <a href="{{ path('app_panier_add', {'id': plat.id}) }}" class="position-absolute d-flex justify-content-end">

                        <img src="/images/icones/icone_panier_plus_district.webp" class="mt-1 me-1 mt-lg-0 me-lg-0 p-lg-2 w-25 panier_plus">

                    </a>

                    {# BOUTON LIBELLE PLAT #}
                    <a href="{{ path('app_page_plat', {'id': plat.id}) }}"
                        class="btn_card fs-5 fw-medium text-center shadow-lg p-2 m-3 mt-0 rounded-4 text-decoration-none fond_logo lettres_blanches">

                        {{ plat.libelle }}

                    </a>

                </div>

            </div>
        {% endfor %}

    </div>

    {# BOUTON RETOUR #}
    <div class="row mb-5">

        <div class="col-sm-12 col-lg-12 d-flex justify-content-center">

            <a href="#" onclick="history.back(); return false;"
                    class="d-flex justify-content-center align-items-center fw-medium mx-auto shadow-lg fs-5 rounded-4 bouton_categories"
                    style="width: 10rem; height: 3rem;">
                Retour
            </a>
            
        </div>

    </div>


</main>

{% endblock %}
