{% extends 'base.html.twig' %}

{% block title %}Plat{% endblock %}

{% block body %}


{# MAIN #}
<main class="container p-lg-5 d-flex justify-content-center flex-column">

    {# EN-TETE PLATS #}
    {# <div class="row d-flex justify-content-center">

        <div class="col-8 col-lg-4 fs-1 fw-medium mb-3 mb-lg-3 mt-3 mt-lg-3 text-center">

            <p class="lettres fond_intitule text-uppercase"> {{ plat.libelle }} </p>

        </div>

    </div> #}
    
    {# CARD PLAT DESKTOP #}
    <div class="d-none d-lg-block col-lg-10 offset-1 mt-5 mb-5 border_adresse rounded-5 fond_intitule">

        <div class="row">

            <div class="col-5">

                <img src="/images/plats/{{ plat.image }}" class="img-fluid rounded-5 m-3 border_image" alt="{{ plat.libelle }}" title="{{ plat.libelle }}">

            </div>

            <div class="col-7">

                <h5 class="fs-1 fw-medium ms-2 mt-3">{{ plat.libelle }}</h5>

                <p class="fs-3 fw-medium fst-italic ms-2"> {{ plat.description }} </p>

                <p class="fs-3 fw-medium ms-2">Prix: {{ plat.prix }} &#8364;</p>

            </div>

        </div>

        <div class="row d-flex justify-content-center mb-3">

            <div class="col-12">

                <a class="ms-lg-3 me-lg-3 d-flex justify-content-center align-items-center fw-medium mx-auto shadow-lg fs-5 rounded-4 bouton_categories"
                    style="width: auto; height: 3rem;" href="{{ path('app_panier_add', {'id': plat.id}) }}" role="button">
                    Ajouter au panier
                </a>

            </div>

        </div>

    </div>

    {# CARD PLAT MOBILE #}
    <div class="d-block d-sm-none m-2 mt-5 mb-5">

        <div class="row">

            <div class="card w-100 border-4 bordures rounded-5">

                    <img src="/images/plats/{{ plat.image }}" class="card-img-top img-fluid mt-3 mb-2 rounded-4 border_image" alt="{{ plat.libelle }}" title="{{ plat.libelle }}">

                    <h5 class="fs-3 fw-medium ms-2">{{ plat.libelle }}</h5>

                    <p class="fs-5 fw-medium fst-italic ms-2 me-2"> {{ plat.description }} </p>

                    <p class="fs-5 fw-medium mb-4 ms-2">Prix: {{ plat.prix }} €</p>

                    <a href="{{ path('app_panier_add', {'id': plat.id}) }}"
                        class="btn_card fs-5 fw-medium text-center shadow-lg p-2 m-3 mt-0 rounded-4 text-decoration-none fond_logo lettres_blanches">

                        Ajouter au panier

                    </a>

            </div>

        </div>

    </div>

    <div class="row mb-5">

        <div class="col-sm-12 col-lg-12 d-flex justify-content-center">

            <a href="#" onclick="history.back(); return false;"
                    class="d-flex justify-content-center align-items-center fw-medium mx-auto shadow-lg fs-5 rounded-3 bouton_categories"
                    style="width: 15rem; height: 3rem;">
                Retour
            </a>
            
        </div>

    </div>


</main>
{% endblock %}
